<footer class="d-flex w-100 justify-content-center">
    <div class="d-flex justify-content-between align-items-center">
        <div class="footer-left">
            <p class="mb-0">
                © {{ 'now' | date: "%Y" }} workflowsRI
            </p>
            <a href="http://viterbi.usc.edu" target="_blank">
                <img src="/assets/images/usc-white.png" style="height: 3em; float: left; margin-left: 0.25em"/>
            </a>
            <a href="https://www.ics.hawaii.edu" target="_blank">
                <img src="/assets/images/uhm-white.png" style="height: 2.5em; float: left; margin-left: 0.25em"/>
            </a>
            <a href="https://computerscience.uchicago.edu" target="_blank">
                <img src="/assets/images/uchicago-white.png"
                     style="height: 1.8em; float: left; margin-left: 1em; margin-top: 0.2em"/>
            </a>
        </div>

        <div class="footer-right">
            <p class="mb-0">
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="Any opinions, findings, and conclusions or recommendations expressed in this
                             material are those of the author(s) and do not necessarily reflect the views
                             of the National Science Foundation.">
                workflowsRI is funded by the National Science Foundation (NSF) under grants number
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2016610" target="_blank">2016610</a>,
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2016619" target="_blank">2016619</a>, and
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2016682" target="_blank">2016682</a>.
                </span>
                <a href="http://nsf.gov" target="_blank">
                    <img src="/assets/images/nsf-white.png"
                         style="width: 2.5em; float: right; margin-left: 0.25em; top: 1.25em; position: absolute"/>
                </a>
            </p>
        </div>

    </div>
</footer>
