<div class="trending">
    <h3>Latest News</h3>
    <div class="trending-item">
        <strong><a href="http://community-survey.workflowsri.org/" target="_blank" style="color: #E16E38">
            Community Research Infrastructure Survey</a></strong>
        <p style="font-size: 0.8em">
            We seek to understand workflow research and development problem domains, requirements for workflow
            management systems (WMS), capabilities and perceived limitations of current WMS, and opportunities for
            supporting and improving workflow and WMS research and development activities.
        </p>
    </div>

    <div class="trending-item">
        <strong><a href="/summits/community">Workflows Community Summit</a></strong>
        <p style="font-size: 0.8em">
            <i>Bringing the Scientific Workflows Community Together</i><br/>
            January 13, 2021<br/>
            <i><strong>Report is available!</strong></i><br/>
            <i><strong>Watch presentations videos!</strong></i>
        </p>
    </div>
</div>

{% assign MAX = 10 %}

{% capture tags_array %}
{% for tag in site.tags %}
{{ tag[1] | size }}::{{ tag[0] | replace: ' ', '-' }}
{% endfor %}
{% endcapture %}

{% assign all_tags = tags_array | split: " " | sort | reverse %}
{% assign count = 0 %}

{% assign trending_tags = "" | split: "" %}

{% for iter in all_tags %}
{% assign count = count | plus: 1 %}
{% assign tag = iter | split: "::" | last  %}

{% assign trending_tags = trending_tags | push: tag %}

{% if count >= MAX %}
{% break %}
{% endif %}
{% endfor %}
