<div class="trending">
    <h3>Latest News</h3>

    <div class="trending-item">
        <strong><a href="/summits/technical" style="color: #D93D47">Workflows Community Summit</a></strong>
        <p style="font-size: 0.8em">
            <i>Tightening the Integration between Computing Facilities and Scientific Workflows</i><br/>
            November 8, 2021<br/>
            <a href="https://doi.org/10.5281/zenodo.5815332" target="_blank"><img
                    src="https://zenodo.org/badge/DOI/10.5281/zenodo.5815332.svg" alt="DOI"
                    style="transform: none; -webkit-transform: none; position: inherit; margin: 0"></a>
        </p>
    </div>

    <div class="trending-item">
        <strong><a href="/summits/technical" style="color: #E16E38">Workflows Community Summit</a></strong>
        <p style="font-size: 0.8em">
            <i>Advancing the State-of-the-art of Scientific Workflows Management Systems Research and
                Development</i><br/>
            April 7, 2021<br/>
            <a href="https://www.youtube.com/watch?v=lbGCz2EgfZU&list=PLAtmuqHExRvOfsFTDdtGDrhovi1oQWLgP"
               style="color: #D93D47 !important" target="_blank">
                <i class="fab fa-youtube"></i> <i><strong>Watch presentations videos!</strong></i>
            </a><br/>
            <a href="https://doi.org/10.5281/zenodo.4915801" target="_blank"><img
                    src="https://zenodo.org/badge/DOI/10.5281/zenodo.4915801.svg" alt="DOI"
                    style="transform: none; -webkit-transform: none; position: inherit; margin: 0"></a>
        </p>
    </div>
    
    <div class="trending-item">
        <strong><a href="/summits/community">Workflows Community Summit</a></strong>
        <p style="font-size: 0.8em">
            <i>Bringing the Scientific Workflows Community Together</i><br/>
            January 13, 2021<br/>
            <a href="https://www.youtube.com/watch?list=PLAtmuqHExRvNf5zmggm2VwDedGoibO69U&v=iQpdxML01i0&feature=emb_imp_woyt"
               style="color: #D93D47 !important" target="_blank">
                <i class="fab fa-youtube"></i> <i><strong>Watch presentations videos!</strong></i>
            </a><br/>
            <a href="https://doi.org/10.5281/zenodo.4606958" style="border: 0" target="_blank">
                <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.4606958.svg" alt="DOI"
                     style="transform: none; -webkit-transform: none; position: inherit; margin: 0">
            </a>
        </p>
    </div>
</div>

{% assign MAX = 10 %}

{% capture tags_array %}
{% for tag in site.tags %}
{{ tag[1] | size }}::{{ tag[0] | replace: ' ', '-' }}
{% endfor %}
{% endcapture %}

{% assign all_tags = tags_array | split: " " | sort | reverse %}
{% assign count = 0 %}

{% assign trending_tags = "" | split: "" %}

{% for iter in all_tags %}
{% assign count = count | plus: 1 %}
{% assign tag = iter | split: "::" | last  %}

{% assign trending_tags = trending_tags | push: tag %}

{% if count >= MAX %}
{% break %}
{% endif %}
{% endfor %}
