---
layout: page
---

<div class="concept">
    <img src="/assets/images/workflowsri-concept.png" style="max-width: 90%; margin: 0"/>
</div>

<div style="line-height: 1.5em">
    <p>
        The goal of the <strong>workflows<span class="RI">RI</span></strong> project is to engage with representatives
        from the <strong>workflows
        community</strong>
        – including researchers, developers, science and engineering users, and cyberinfrastructure experts.
    </p>

    <p>
        Through targeted community surveys and focused summits, the project will gather a diverse set of perspectives,
        create a community-owned WMS inventory and common knowledge taxonomy, define an experimental methodology for
        measuring WMS capabilities, and develop a blueprint for a community research infrastructure.
    </p>
    <p>
        The end goal of this project is to design an infrastructure that will have the potential to truly democratize
        workflows research, enabling researchers, postdocs, and students, irrespective of their institutions, to access
        cutting-edge infrastructure for comparison, evaluation, and verification of workflows research results.

    </p>

    <a class="getinvolved" href="https://join.slack.com/t/workflowscommunity/shared_invite/zt-10tn61tdy-p9sExEOBoCDpaPmj3G3Jtg"
       target="_blank">
            <img src="/assets/images/slack.png" style="width: 1em; display: block; margin: 0" alt="slack"/>
            Join us at <strong>workflows<span class="RI">community</span>.slack.com</strong>
    </a>

</div>

<p>&nbsp;</p>

<h2>Roadmap</h2>

<div class="concept">
    <img src="/assets/images/workflowsri-roadmap.png"/>
</div>

<p>&nbsp;</p>

<h2>Project Overview</h2>
<br/>
<div class="resp-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iQpdxML01i0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="resp-iframe"></iframe>
</div>

{% assign pinned = site.posts | where_exp: "item", "item.pin == true"  %}
{% assign default = site.posts | where_exp: "item", "item.pin != true"  %}
{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
{% for i in (offset..pinned.size) limit: pinned_num %}
{% assign posts = posts | push: pinned[i] %}
{% endfor %}
{% else %}
{% assign pinned_num = 0 %}
{% endif %}


<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
{% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
{% for i in (default_beg..default_end) %}
{% assign posts = posts | push: default[i] %}
{% endfor %}
{% endif %}


<div id="post-list">

    {% for post in posts %}

    <div class="post-preview">
        <div class="d-flex justify-content-between pr-xl-2">
            <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
            {% if post.pin == true %}
            <i class="fas fa-thumbtack fa-fw text-muted mt-1 ml-2 mt-xl-2" data-toggle="tooltip" data-placement="left"
               title="Pinned"></i>
            {% endif %}
        </div>
        <div class="post-content">
            <p>
                {% include no-linenos.html content=post.content %}
                {{ content | markdownify | strip_html | truncate: 200 }}
            </p>
        </div>

        <div class="post-meta text-muted">
            <!-- posted date -->
            <i class="far fa-clock fa-fw"></i>
            {% include timeago.html date=post.date tooltip=true %}

            <!-- page views -->
            {% if site.google_analytics.pv.enabled %}
            <i class="far fa-eye fa-fw"></i>
            <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
            {% endif %}
        </div>
    </div> <!-- .post-review -->

    {% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
{% include post-paginator.html %}
{% endif %}
